<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{uporabnik.ime}} {{uporabnik.priimek}}</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12" style="text-align: center">
          <img ng-src="{{uporabnik.slika}}" class="img-circle" alt="slika">
        </div>
        <div class="col-md-12" style="margin-top: 20px">
          <table class="table">
            <tr>
              <th>Spol</th>
              <td>Moški</td>
            </tr>
            <tr>
              <th>Datum rojstva</th>
              <td>{{uporabnik.datumRojstva|date}}</td>
            </tr>
            <tr>
              <th>ITM</th>
              <td>{{itm|number:1}}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-12" ng-if="maxPritisk > 120 || starost >= 45">
          <div class="alert"
               ng-class="{'alert-danger': maxPritisk > 140, 'alert-warning': 120 < maxPritisk && maxPritisk <= 140 || starost >= 45}">
            <strong>Imate povečano tveganje za nastanek sladkorne bolezni</strong>
            <ul style="margin-top: 10px;">
              <li ng-if="maxPritisk > 140">Visok krvni tlak</li>
              <li ng-if="120 < maxPritisk && maxPritisk <= 140">Malo zvišan krvni tlak</li>
              <li ng-if="starost > 45">Starost nad 45 let</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Krvni tlak</h3>
      </div>
      <div class="panel-body">
        <highchart id="tlak" config="grafi.tlak"></highchart>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-6 col-md-6">
        <div class="panel" ng-class="{'panel-warning': !me, 'panel-success': me}">
          <div class="panel-heading">
            <h3 class="panel-title">Strava</h3>
          </div>
          <div class="panel-body" ng-if="!me">
            <p>Povežite svoj STRAVA račun da pridobite dodatne ugodnosti!</p>

            <div>
              <img src="http://strava.github.io/api/images/ConnectWithStrava.png" class="img-responsive pull-right"
                   style="cursor: pointer" alt="Connect with strava" ng-click="strava.doAuth()"/>
            </div>
          </div>
          <div class="panel-body" ng-if="me">
            <div class="media">
              <span class="media-left">
                <img ng-src="{{me.avatar}}" class="img-responsive" alt="Avatar"/>
              </span>

              <div class="media-body">
                <h3 class="media-heading">{{me.name}}</h3>

                <p>{{me.location}}</p>
              </div>
            </div>
          </div>
          <div class="list-group" ng-if="koms">
            <a class="list-group-item" ng-href="http://app.strava.com/activities/{{kom.activity.id}}" target="_blank"
               ng-repeat="kom in koms">{{kom.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
