<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Najcenejše zdravstveno zavarovanje. <span class="text-muted">V vsem mestu.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive img-rounded" src="images/llama.png" alt="Llama">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5">
    <img class="featurette-image img-responsive img-rounded" src="images/img_4579.png" alt="Nešto">
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">Ocena tveganja za nastanek sladkorne bolezeni.</h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Možnost znižanja zavarovalne premije.</h2>
    <p class="lead">Z uporabo aplikacij za sledenje športnim aktivnostim lahko pridobite popust na vašo zavarovalno premijo.</p>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive img-rounded" src="images/7ZsSf.png" alt="Nešto2">
  </div>
</div>

<hr class="featurette-divider">
